VITE_API_URL=http://localhost:8080/api
VITE_COGNITO_USER_POOL_ID=eu-central-1_xxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=your-domain.auth.eu-central-1.amazoncognito.com
VITE_NOMINATIM_URL=https://nominatim.openstreetmap.org
